.footer {
    color: white;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 50px;
    margin-top: 50px;
}



.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left h2 span{
    color: #ff4d4d;
}

.footer-content-left div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-content-left img {
    width: 30px;
}

.footer-content ul li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 6px;
}

.footer hr {
    width: 100vw;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content-copyright {
    font-size: 18px;
}



@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer h2{
        font-size: 18px;
    }

    .footer-content-copyright {
        font-size: 12px;
    }

    .footer-content-left p {
        font-size: 14px;
    }
}