.slider {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide {
    width: 100%;
}

.left-arrow {
    position: absolute;
    left: 20px;
    background: #ffffff95;
    padding: 20px 5px;
    cursor: pointer;
}

.left-arrow img {
    width: 40px;
}

.right-arrow {
    position: absolute;
    right: 20px;
    background: #ffffff95;
    padding: 20px 5px;
    cursor: pointer;
}

.right-arrow img {
    width: 40px;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 5px;
}

.dot {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background-color: #00000072;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.active {
    background: #5c39da;
}

@media screen and (max-width: 800px) {
    .slider{
        overflow: hidden;
    }

    .slide {
        width: 155%;
    }

    .left-arrow {
        left: 7px;
        padding: 8px 2px;
    }

    .right-arrow {
        right: 7px;
        padding: 8px 2px;
    }

    .left-arrow img {
        width: 20px;
    }

    .right-arrow img {
        width: 20px;
    }

    .dot-container {
        bottom: 2px;
        gap: 4px;
    }

    .dot {
        width: 15px;
        height: 15px;
    }
}